---
import { Image } from "astro:assets";
import gallery from "@/assets/gallery.png";
import line from "@/assets/line.gif";
---

<section class="bg-[#31a6d1] py-20 text-white text-center">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold md:text-9xl sm:text-5xl font-bold mb-4">
      ¡TODO INCLUIDO!
    </h2>
    <p
      class="text-2xl sm:text-2xl md:text-4xl mb-12 max-w-6xl mx-auto text-black"
    >
      Acceso a piscinas, jacuzzi, <b>carro de cortesía con millas ilimitadas</b
      >, ademas de <b>2 planes de escape</b> para <b>2 personas</b> en uno de los
      hoteles participantes, uno en <b>Cancún</b> y otro en <b>Punta Cana</b>.
    </p>

    <Image src={gallery} alt="" width={1500} height={432} />

    <div class="flex mt-10 ">
      <div class="flex items-center px-3">
        <div class="grid ">
          <div class="px-1 relative">
            <span
              class="free text-3xl md:text-7xl"
              style="font-weight: 700; font-style: normal; color: rgb(255, 255, 255);"
              >¡gratis!</span
            >
            <Image src={line} alt="" class="line" width={740} height={20} />
          </div>
        </div>
      </div>
      <div class="">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
          <div class="relative text-white px-8 py-10 box text-left">
            <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold">
              ¡VEHÍCULO DE CORTESÍA
            </h2>
            <h2 class="text-1xl sm:text-2xl md:text-3xl mb-6 text-white">
              CON MILLAS ILIMITADAS!
            </h2>
            <p class="text-1xl sm:text-1xl md:text-2xl text-white mt-5">
              Disfruta de la libertad de explorar la zona con un vehículo de
              cortesía, sin límites de kilómetros.
            </p>
          </div>

          <div class="relative text-white px-8 py-10 box text-left">
            <h2 class="text-1xl sm:text-2xl md:text-3xl text-white">
              ¡ELIGE TU PLAN ESCAPE
            </h2>
            <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-6">
              "ALL INCLUSIVE"!
            </h2>
            <p class="text-1xl sm:text-1xl md:text-2xl text-white mt-5">
              Disfruta de 4 días y 3 noches en Cancún o Punta Cana, con el
              sistema "all inclusive".
            </p>
          </div>

          <div class="relative text-white px-8 py-10 box text-left">
            <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold">
              TARJETA VIP
            </h2>
            <h2 class="text-1xl sm:text-2xl md:text-3xl mb-6 text-white">
              CON ACCESO A 12 PISCINAS.
            </h2>
            <p class="text-1xl sm:text-1xl md:text-2xl text-white mt-5">
              Relájate y disfruta de un día de descanso en una de nuestras 12
              piscinas con agua temperada y jacuzzi.
            </p>
          </div>
          <div>
          <div class="relative text-white px-8 py-10 box text-left">
            <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold">
              SERVICIO DE TRASLADO
            </h2>
            <h2 class="text-1xl sm:text-2xl md:text-3xl mb-6 text-white">
              AEROPUERTO-RESORT
            </h2>
            <p class="text-1xl sm:text-1xl md:text-2xl text-white mt-5">
              ¿Necesitas traslado desde el aeropuerto al resort y viceversa?
              ¡Podemos ayudarte!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .box {
    border: 4px solid white;
  }
  .free {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-transform: uppercase;
  }
  .line {
    transform: rotate(90deg);
    position: absolute;
    bottom: -50px;
    /* left: 50px; */
    /* width: 500px; */
    height: 10px;
  }
  .line-cont {
  }
</style>
