---
---

<section class="py-20 relative w-full h-full overflow-hidden bg-[url('/img/reservenow.jpg')] bg-cover bg-center bg-no-repeat" >
  <div class="absolute inset-0 w-full h-full bg-[#162b4c] bg-opacity-10"></div>
  <div class="container mx-auto px-4 relative z-10 py-20">
    <div class="p-8 mx-auto">
      <div class="text-center"> 
        <h2 class="text-3xl font-bold md:text-9xl sm:text-4xl font-bold text-white mb-2 txt-shadow">
          ¡RESERVA AHORA!
        </h2>
        <h2 class="text-2xl font-bold md:text-6xl sm:text-3xl font-bold text-white mb-16 txt-shadow">
          Y RECIBE 3 OBSEQUIOS
        </h2>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <ul class="list-disc text-white text-2xl md:text-4xl sm:text-3xl">
        <li><b>Carro de cortesía</b> para explorar la zona.</li>
        <li>Acceso a todas las <b>piscinas</b> del resort. </li>
        <li>Segunda estadía "all inclusive" en <b>Cancún o Punta Cana.</b></li>
      </ul>
      <div class=""></div>
      <a href="https://wa.me/17868502223" target="_blank" class="btn text-2xl mt-10">RESERVA TU ESCAPADA</a>
    </div>
  </div>
</section>
<style>
  .txt-shadow{
    text-shadow: rgba(0, 0, 0, 0.9) 2.35702px 2.35702px 0px, rgba(0, 0, 0, 0.3) 4.71404px 4.71404px 0px;
  }
  .btn{
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-kerning: none;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.9) 0px 0.963742px 5.28613px;
    filter: opacity(1);
    border: 4px solid white;
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  li{
    text-shadow: rgba(0, 0, 0, 0.9) 0px 0.963742px 5.28613px;
  }
  
</style>