---
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta
      name="description"
      content="¡Vacaciones inolvidables! 5 días/4 noches en Reunión Resort para 6 personas por $995. ¿
	    ¡Incluye 12 piscinas, carro de cortesía y 2 viajes GRATIS!"
    />
    <meta
      property="og:description"
      content="¡Vacaciones inolvidables! 5 días/4 noches en Reunión Resort para 6 personas por $995. ¿
	    ¡Incluye 12 piscinas, carro de cortesía y 2 viajes GRATIS!"
    />
    <meta
      name="twitter:description"
      content="¡Vacaciones inolvidables! 5 días/4 noches en Reunión Resort para 6 personas por $995. ¿
	    ¡Incluye 12 piscinas, carro de cortesía y 2 viajes GRATIS!"
    />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet"/>
    <link rel="shortcut icon" href="img/a5d8011940006b0e31aef3be04f4e542.png">
    <link rel="icon" href="img/f12e4e9935abbdc38da3728ddc380cbd.png" sizes="192x192">
    <link rel="apple-touch-icon" href="img/a96e1b8c608f72efecd0e364c5cee4aa.png" sizes="180x180">
  </head>
  <body>
    <!-- <Header /> -->
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: "Open Sans";
  }
  .parisienne-regular {
    font-family: "Parisienne";
    font-weight: 400;
    font-style: normal;
  }
</style>
